<div id="alerta_template" class="fade hide" aria-label="Close" role="alert">
    <strong class="alerta_titulo"></strong> <span class="alerta_corpo"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
